.active{
    @apply text-orange-500 underline underline-offset-4
}

.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.pagination li{
    margin: 0 5px;
}
.pagination a{
    padding: 5px 10px;
    border: 1px solid #ccc;
    text-decoration: none;
    border-radius: 4px;
    color: black;
    display: inline-block;
}
.pagination a:hover{
    background: #eee;
}
.pagination li.activerpagination{
    background: rgb(255, 106, 0);
    border-radius: 4px;
    color: white;
}
.active-button{
    color: #fc3c1a;
}